body {
    background-color: #98FB98;
    color: black;
}


.form-control {
    background-color: #FFE4E1;
    color: white;
}

.btn {
    background-color: #FFE4E1;
    color: white;
}

.image-bred {
    flex: 1;
    padding: 1px;
    text-align: right;
}

.image-bred img {
    max-width: 10%;
    height: auto;
}
.image-bred img {
    position: absolute;
    top: 50%;
    left: 30%;
    transform: translate(-50%, -50%);
    max-width: 5%;
    height: auto;
}