/* styles.css */

/* Пример стиля для заголовка */
body {
    background-image: url("{% static 'movie_app/image.png' %}");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

h1 {
    color: black;
    font-size: 24px;
    margin-bottom: 20px;
}

/* Пример стиля для кнопок */
.btn {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

/* Пример стиля для контейнера */
.container {
    max-width: 960px;
    margin: 0 auto;
}
