{% extends "base.html" %}
{% load static %}
{% block content %}


<head>
    <link rel="icon" type="image/x-icon" href="{% static 'movie_app/filmsee.ico' %}">
    <link rel="stylesheet" href="{% static 'movie_app/add_commes.css' %}">
    <title>Add Comment to the movie</title>
</head>
<body>
    <h1>Add Comment</h1>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Submit</button>
    </form>
    <div class="image-leo">
        <img src="{% static 'movie_app/leo.png' %}" alt="Image">
    </div>
</body>
{% endblock %}
