{% extends "base.html" %}
{% block content %}
<head>
    <title>Movie List</title>
</head>
<body>
<form method="post">
    <h1>Movie List</h1>
    {% csrf_token %}
    <ul>
        {% for movie in movies %}
            <li>
                {{ movie.title }}
                {% if movie.viewed %}
                    <input type="checkbox" name="watched-{{ movie.id }}" value="{{ movie.id }}" checked disabled>
                {% else %}
                    <input type="checkbox" name="watched-{{ movie.id }}" value="{{ movie.id }}">
                {% endif %}
            </li>
        {% endfor %}
    </ul>
    <button type="submit">Save</button>
</form>
</body>
{% endblock %}
