{% extends "base.html" %}
{% block content %}
{% load static %}
<head>
    <link rel="icon" type="image/x-icon" href="{% static 'movie_app/filmsee.ico' %}">
    <link rel="stylesheet" href="{% static 'movie_app/comment.css' %}">
</head>
<div>
    <h1>Movie List</h1>
    <form method="get">
        <label for="year">Filter by Year:</label>
        <input type="text" id="year" name="year" value="{{ year_filter }}">
        <label for="country">Filter by Country:</label>
        <input type="text" id="country" name="country" value="{{ country_filter }}">
        <label for="user_first_name">Filter by Username:</label>
        <input type="text" id="user_first_name" name="user_first_name" value="{{ user_first_name_filter }}"><br><br>
        <button type="submit">Apply Filters</button>
    </form>
    {% if movies %}
        <form method="post">
            {% csrf_token %}
            <ul>
                {% for movie in movies %}
                    <li>
                        <tr>
                            <td>{{movie.user_first_name}}{{ movie.title }}</td>
                            <td><input type="checkbox" name="watched-{{ movie.id }}" value="{{ movie.id }}" {% if movie.viewed %}disabled{% endif %}></td>
                        </tr>
                    </li>
                {% endfor %}
            </ul>
        </form>
    {% else %}
        <p>No movies found</p>
    {% endif %}
</div>
<div class="image-friends">
    <img src="{% static 'movie_app/frie.png' %}" alt="Image">
</div>
{% endblock %}


