{% extends "base.html" %}
{% load static %}
{% block content %}


<head>
    <link rel="icon" type="image/x-icon" href="{% static 'movie_app/filmsee.ico' %}">
    <link rel="stylesheet" href="{% static 'movie_app/comment.css' %}">
</head>
<body>
  <h2>Random Film</h2>
  <div class="movie">
    {% if random_film %}
        <p>User: {{ random_film.user_first_name }}</p>
        <p>Title: {{ random_film.title }}</p>
        <p>Year: {{ random_film.year }}</p>
        <p>Country: {{ random_film.country }}</p>
        <p>Comment: {{ random_film.comment }}</p>
      <form method="post">
        {% csrf_token %}
        <button type="submit" name="watched" value="true">I watched</button>
      </form>
    {% else %}
      <p>No unwatched films left</p>
    {% endif %}
  </div>
  <a href="{% url 'random_film' %}">Another random film</a>
    <div class="image-bred">
        <img src="{% static 'movie_app/bredp.png' %}" alt="Image">
    </div>
</body>
{% endblock %}